body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inputWrapper {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.inputText {
  width: 100%;
  display: flex;
  line-height: 40px;
  justify-items: center;
  align-items: center;
}

.inputText input {
  flex: 1;
  height: 20px;
}

.inputText a {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
}


.list {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.list .listItem input[type="checkbox"] {
  margin-top: 6px;
}

.list .listItem {
  width: 100%;
  display: flex;
}

.list .listItem .item {
  flex: 1;
}

.list .listItem .delete {
  cursor: pointer;
}

.buttomFilter {
  width: 100%;
  border: 1px solid #eee;
}

.buttomFilter span {
  display: inline-block;
  width: 60px;
  text-align: center;
  cursor: pointer;
}